body{
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}
h1{
    font-size: 35px;
}
.menu-btn{
    text-decoration: none;
    background-image:linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
    padding: 10px 20px;
    border-radius: 50px;
    color:white;
    font-weight: 50px;
    margin-right: 40px;
}
.menu-bar{
    margin-top:  20px;
    margin-left: 500px;
}
p{
    color: gray;
    font-size: 20px;
}
.orange{
    color: orange;
}
.font{
    padding-top: 100px;
}
.half-width{
    margin-top: 30px;
    width: 48%;
    margin-left: 4%;

}
.display-flex{
    display: flex;
    margin-bottom: 100px;

}
.half-width img{
    width: 100%;
}
.link-botton{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato); 
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-weight: 500;



}
.about{
    background-image: url(food-network-main/images/shapes/7.png);
    background-repeat: no-repeat;
}
.recipies-p{
    text-align: center;
}
.recipies-item{
    
    display: flex;
    margin-bottom: 150px;
    width: 90%;
    margin-left: 5%;


   
}
.pizza{
    margin-right: 2%;
    width: 31%;
    border-radius: 30px;
    box-shadow:1px 1px 15px grey ;
}
.Halim{
    margin-right: 2%;
    width: 31%;
    border-radius: 30px;
    box-shadow:1px 1px 15px grey ;
}
.vagitable{
    margin-right: 3%;
    width: 31%;
    border-radius: 30px;
    box-shadow:1px 1px 15px grey ;
}
.img{
    width: 92%;
    padding: 4% 2% 2% 4% ;
    

}
.client-shadow{
    box-shadow:10px 10px 40px grey ;
    border-radius: 30px;
    width: 70%;
    margin-left: 10%;
}
.client-img img{
   padding: 10px;
   margin-top: 10px;
   margin-left: 30px;
   margin-bottom: 10px;
    border-radius: 80%;
    box-shadow:10px 10px 20px grey ;
    
}
.client-p{
    width: 50%;
    margin-left: 80px;
    margin-top: 60px;
}
.item-p{
    padding-left: 5%;
    padding-right: 1%;
    padding-bottom: 7%;
}
.item{
    padding-left: 5%;
}

h5{
    color: green;
}
.footer-h{
    color: cornflowerblue;
}
.footer{
    padding-bottom: 100px;
    text-align: center;
    background-color: black;
    
}
